### Review of Lecture 2

We learned about:

- variable types and naming conventions

- operations

- indexing and slicing strings

- a few built-in python functions

### In this lecture we will:

- Learn about collections of variables: data structures 

- Learn about _objects_ 
- Learn about _methods_ which allow you to do things to _objects_

## Data Structures

Now that we know about variables, it would be handy to group them together in some way.  In Python there are many ways to do this: **lists, tuples**,  **dictionaries**, and **sets**, among others.    These group arbitrary variables together, (e.g., strings and integers and floats) in containers.

We'll go through some of the various data structures, starting with **lists**.

### Lists 

- Lists are denoted with [ ]  and can contain any arbitrary set of elements, including other lists!

- Elements in the list are referenced by an index number.  Similar to the strings we encountered in the last lecture, the indices begin at 0.  Remember that this is different from what we're used to,  which would be that the first element is index 1.

- You can  count from the end to the beginning by starting with -1 (the last item in the list), -2 (second to last), etc. 

- Lists have _methods_ that allow items to  be sorted, deleted, inserted, sliced, counted, concatenated, replaced, added on, etc.


Let's take a look at some examples:

In [14]:
mylist=['a',2.0,'400','spam',42,[24,2]] # defines a list
mylist # prints the list

['a', 2.0, '400', 'spam', 42, [24, 2]]

In [15]:
mylist[2] # print the third element in the list (starting from zero)

'400'

In [16]:
mylist[-1] # print the last element

[24, 2]

But if you want to print, say, the last three elements, you can't do this:

In [17]:
mylist[-3:-1]

['spam', 42]

This is because the slice **list[begin:end]** means from **begin** up to and not including **end**.  To actually slice out the last three elements, you can do it this way:

In [18]:
mylist[-3:]

['spam', 42, [24, 2]]

Unlike strings, you can change list elements in place:

In [19]:
mylist[1]=26.3   # replaces the second element
mylist

['a', 26.3, '400', 'spam', 42, [24, 2]]

In [20]:
del mylist[3] # deletes the fourth element 
mylist

['a', 26.3, '400', 42, [24, 2]]

Printing out variables has limited use (mostly for debugging or giving you a final answer.  

Like strings, you can  slice out a chunk of the middle of a list and assign it to another variable:

In [21]:
newlist=mylist[1:3] # takes the 2nd and third values and puts in newlist
#note it takes out up to but not including the last item number 
newlist

[26.3, '400']

Making copies of lists behaves in ways you might not expect if you are coming from other programming languages.  We will learn more about copys of lists in later lectures, but here are some pro tips for now.  

You can assign a list to another variable name like this:

In [22]:
mycopy=mylist

**mycopy** is now a copy of **mylist**.  But it is inextricably bound to the original, so if I change one, I change the other:

In [23]:
mylist[2]='new'
print (mylist)
print (mycopy)

['a', 26.3, 'new', 42, [24, 2]]
['a', 26.3, 'new', 42, [24, 2]]

See how **mycopy** was changed when we changed mylist?

To spawn a list that is an independent object, you can do this:

In [24]:
mycopy=mylist[:]
# now try changing mylist... 
mylist[2]=1003
print (mycopy) # if there are two things to print, use 'print'
mylist # otherwise only prints the last one

['a', 26.3, 'new', 42, [24, 2]]

['a', 26.3, 1003, 42, [24, 2]]

See how  mycopy  stayed the way it was, even as mylist changed?

#### Obects in Python

We have been using the word "object" a lot in this lecture.  So what is an _object_ in Python?  

An object in Python is a collection of attributes and methods. The variable **mylist** is an example of an object - a _list_ object.   

So what is so special about _objects_?  Python objects have _methods_ which allow you to do things to the object.  Methods have the form:

**object.method( )**

or 

**object.method(parameter, parameter2,...)**

Let's look at a few starting with the **.append( )** method (which appends something to the end of a list).

In [25]:
mylist.append('me too') # append() is a method that appends the parameter 'me too' to the list
print (mylist)

['a', 26.3, 1003, 42, [24, 2], 'me too']

**.count()** is another method.  Let's see what it does:

In [26]:
mylist.append('me too') 
mylist.count('me too')

2

The method **.count()**  returns the number of times the _argument_ occurs in the list.  [NB: the _argument_ is the stuff inside the parentheses of the method - in this case 'me too'.]  

Another very handy list method is the **.index()** method.  It returns the position of the argument in the list:

In [27]:
mylist.index(42)

3

These are just a few of the methods for lists. To view all of the methods for a list object, see:
https://docs.python.org/3.6/tutorial/datastructures.html

### Making lists

Earlier, we made a list by defining a variable with square brackets. We added to that list with **append( )**.  Another way to generate a list is to use **range( )**, which is one of the python  _built-in functions_ we mentioned in Lecture 2.  **range( )** is a _list generator_ and can be used to generate a list of integers between two numbers, , the _start_ and _end_, where each number is separated by a specified interval. Here Python 3 is a bit different from earlier versions of python in that older versions (Python 2.7) generated the list directly, but new to Python 3.0, you have to make the list from the generator like so:  has the form: **list(range(start,end,interval))**.  Note that range, like list slicing, goes up to but does not include _end_.

In [29]:
# creates a list from 2 to 20 (not including 20!) at intervals of 4
numlist=list(range(2,20,4)) 
print (numlist)

[2, 6, 10, 14, 18]

Trying it the "old" way, we just get:

In [34]:
print (range(2,20,4))

range(2, 20, 4)

which is obviously not a list itself.

### Tuples

_Tuples_ are another important object in python that are similar to lists, but have important differences.  They are denoted by parentheses ( ) and  consist of  values separated by commas.  
Like lists, they can contain different elements, but unlike lists, the elements cannot be changed in place.  Similar to both lists and strings, you can slice, concatenate, etc. For more see: 
 
 http://docs.python.org/tutorial/datastructures.html#tuples-and-sequences

Here is one way to generate a tuple:

In [35]:
t = 1234, 2.0, 'hello'
t

(1234, 2.0, 'hello')

You can access an element in a tuple by using the index number, exactly like a list.

In [17]:
t[0]

1234

### Sets

There is  more data structure that comes in handy and one is  the _set_. They are denoted with curly braces { }.  A set "contains an unordered collection of unique and immutable objects."   

You can create _sets_ in several ways.   The first would be the use the python built-in **set( )** function on a list:

In [43]:
S1=set(['spam','ocelot',42])
S1

{42, 'spam', 'ocelot'}

Notice how the order changed.  

Also, notice what happens if we violate the "unique" part of the definition:

In [44]:
S2=set(['spam','ocelot','ocelot'])
S2

{'ocelot', 'spam'}

Only one of the ocelots made it into the set. [By the way, "ocelot" is another Monty Python joke - look it up if you like.] 

Sets contain immutable objects, but they themselves can be changed. For a more complete list of methods see:  

https://www.python-course.eu/python3_sets_frozensets.php


But here are a few:

In [45]:
# add
print (S1) 
S1.add('chocolate')
print (S1)

{42, 'spam', 'ocelot'}
{42, 'chocolate', 'spam', 'ocelot'}

In [46]:
# clear 
S2.clear() 
S2

set()

See how S2 is now just an empty set object _set( )_.

Now let's try copying **S1**.

In [41]:
# copy
S2=S1.copy()
print (S2)
S1.clear()
print (S1)
print (S2)

{42, 'chocolate', 'spam', 'ocelot'}
set()
{42, 'chocolate', 'spam', 'ocelot'}

the **.copy( )** method for sets does not work like copying lists - it made an independent object **S2** which did not clear when **S1** got cleared.  

**.difference** is another handy method - it can be used to find what is different about two sets.

In [47]:
# difference
S1=set(['spam','ocelot',42])
S2=set(['spam','ocelot'])
S1.difference(S2)

{42}

But - you say - you want to know what is the **same** in two sets.  For that, use the **.intersection** method.

In [48]:
# intersection
S1.intersection(S2)

{'ocelot', 'spam'}

Finally, you can define a set just using curly braces:

In [25]:
S3={42,'spamalot','Ni'}
S3

{'Ni', 'spamalot', 42}

'Ni' is another joke from Monty Python and the Holy Grail where there were some characters calling themselves the "Knights who say Ni!".  "42" is not from Monty Python, but from the Hitch Hikers Guid to the Galaxy - but people who like Monty Python also like the Hitch Hiker's Guide.  By the way, "42" is the answer to "What is the meaning of life, the universe, and everything?".  Now you know.

### Turn it in! 

Turn in your practice problem notebook by the end of class with the completed practices.  The Assignment below is due in one week.

### Assignment #1
- Create a jupyter notebook.  
- Rename the notebook (under File menu) with the format YourLastname_HomeworkNumber.  For example, **Asefaw_1**
- Save the notebook (click on the disk icon in the menu bar)
- Create a markdown block in which you will describe what the notebook does. 
- Make a code block that creates a list called **planets**
    - append all the planets to the list.
    - make a copy of your planets list (with a different name). 
    - print the planet at index 2 in your **planet** list. 
    - set the planet at index 2 in your copy to 'X'
    - print the planet at index 2 in both lists (**planet** and your copy)
    - append the planet you overwrote to the end of the copied list.
    - use the help function to find out what the built in function **len()** does (help(len))
- Make another code block that creates a list using **range( )** with 8 values starting with 1. 
    - Create a **set** from each of the  three lists.  
    - Find the elements in common between the three sets.  

Your code must be fully commented.  

Turn in your notebook on the tritoned.ucsd.edu website BEFORE the start of class next Friday. 

You will recieve a "zero" if the assignment is late,  copied from someone else, or not fully commented.  If the degree of copying is serious enough, you WILL be reported, so just don't do it.  

If you have trouble - contact the TA or the instructor - we are here to help!  Also, show up to the discussion section for help on the assignments from your friendly TA.