### Review of Lecture 2

We learned about:

1) variable types and naming conventions

2) operations

3) indexing and slicing strings

4) a few built-in python functions

### In this lecture we will:

1) Learn about collections of variables: data structures 

2) Learn about _objects_ and _methods_ which allow you to do things to _objects_

## Data Structures

Now that we know about variables, it would be handy to group them together in some way.  In Python there are many ways to do this: **lists, tuples**,  **dictionaries**, and **sets**, among others.    These group arbitrary variables together, (e.g., strings and integers and floats) into containers.

We'll go through some of the various data structures, starting with **lists**.

### Lists 

- Lists are denoted with [ ]  and can contain any arbitrary set of elements, including other lists!

- Elements in the list are referred to by an index number.  Like with strings we encountered in the last lecture, the indices start with 0.  Remember that this is different from what you might logically think,  which would be that the first element would be 1.

- You can  count from the end to the beginning by starting with -1 (the last item in the list), -2 (second to last), etc. 

- Lists have _methods_ that allow items to  be sorted, deleted, inserted, sliced, counted, concatenated, replaced, added on, etc.

Let's take a look at some examples:

In [1]:
mylist=['a',2.0,'400','spam',42,[24,2]] # defines a list
mylist # prints the list

['a', 2.0, '400', 'spam', 42, [24, 2]]

In [2]:
mylist[2] # print the third element in the list (starting from zero)

'400'

In [3]:
mylist[-1] # print the last element

[24, 2]

But if you want to print, say, the last three elements, you can't do this:

In [4]:
mylist[-3:-1]

['spam', 42]

This is because the slice **list[begin:end]** means from **begin** up to and not including **end**.  To actually slice out the last three elements, you can do it this way:

In [5]:
mylist[-3:]

['spam', 42, [24, 2]]

Unlike strings, you can change list elements:

In [6]:
mylist[1]=26.3   # replaces the second element
mylist

['a', 26.3, '400', 'spam', 42, [24, 2]]

In [7]:
del mylist[3] # deletes the fourth element 
mylist

['a', 26.3, '400', 42, [24, 2]]

Printing out variables has limited use (mostly for debugging or giving you a final answer.  Of course, you can  slice out a chunk of the middle of a list and assign it to another variable:

In [8]:
newlist=mylist[1:3] # takes the 2nd and third values and puts in newlist
#note it takes out up to but not including the last item number 
newlist

[26.3, '400']

In [9]:
mycopy=mylist
mylist[2]='new'
mycopy[2]

'new'

See how **mycopy** was changed when we changed mylist?

To spawn a new list that is a copy, but an independent entity:

In [10]:
mycopy=mylist[:]
# now try changing mylist... 
mylist[2]=1003
print (mycopy) # if there are two things to print, use 'print'
mylist # otherwise only prints the last one

['a', 26.3, 'new', 42, [24, 2]]

['a', 26.3, 1003, 42, [24, 2]]

In [11]:
names = ["a", "b", "c", "d", "e"]
l = names[2:3]
l = "testing"
names

['a', 'b', 'c', 'd', 'e']

So now mycopy  stayed the way it was, even as mylist changed.

#### Obects in Python

Python is "object oriented", so what is an _object_?  

An object in Python is a collection of attributes and methods. The variable mylist is an example of an object- a list object.   

Objects have _methods_ which allow you to do things to them.  Methods have the form:

**object.method( )**

or 

**object.method(parameter, parameter2,...)**

Let's look at a few starting with the **.append( )** method (which appends something to the end of a list.

In [12]:
mylist.append('me too') # append() is a method that appends the parameter 'me too' to the list
mylist

['a', 26.3, 1003, 42, [24, 2], 'me too']

In [13]:
mylist.append('me too') 
mylist.count('me too') # count returns the number of times the argument occurs

2

In [14]:
mylist.index(42) # index returns the position of the argument in the list

3

These are just a few of the methods for lists. For all of the methods for lists, see:
https://docs.python.org/2.7/tutorial/datastructures.html (for version 2.7) 

and 

https://docs.python.org/3.0/tutorial/datastructures.html (for version 3.0)

### Making lists

Earlier, we made a list by defining a variable with square brackets. We added to that list with **append()**.  Another way to generate a list is to use **range( )**, which is one of the python  _built in functions_ we discussed last lecture.  **range( )** generates a list of integers between two numbers where each number is separated by a specified interval, the _start_ and _end_. and has the form: **range(start,end,interval)**.  Note that range, like list slicing, goes up to but does not include _end_.

In [15]:
# creates a list from 2 to 20 (not including 20!) at intervals of 4
numlist=list(range(2,20,4)) 
numlist

[2, 6, 10, 14, 18]

### Practice with range( )

Insert a code cell and use **range( )** to create a list with a  “range” of numbers from 0 to 100, increment by any number (less than 100) and print the results.

### Practice with lists

Insert a code cell below this one.  

- Create an empty list called **oceans**

- append all the oceans to the list  

- print the ocean at position 3 in the list  

- print the last ocean

### Tuples
Tuples are denoted by parentheses ( ) and  consist of  values separated by commas.  
Like lists, they can have different objects, but like strings, their elements cannot be changed.  Similar to both lists and strings, you can slice, concatenate, etc. For more see: 
 
 http://docs.python.org/tutorial/datastructures.html/#tuples-and-sequences

Here is one way to generate a tuple:

In [16]:
t = 1234, 2.0, 'hello'
t

(1234, 2.0, 'hello')

You can access different elements of tuples just exactly like  lists.

In [17]:
t[0]

1234

### Sets

There is  more data structure that comes in handy and one is  the _set_. A set "contains an unordered collection of unique and immutable objects."   

You can create _sets_ in several ways.   The first would be the use the python built-in **set( )** function:

In [18]:
S1=set(['spam','ocelot',42])
S1

{42, 'ocelot', 'spam'}

Notice how the order changed.  

Also, notice what happens if we violate the "unique" part of the definition:

In [19]:
S2=set(['spam','ocelot','ocelot'])
S2

{'ocelot', 'spam'}

Only one of the ocelots made it into the set. [By the way, "ocelot" is another Monty Python joke - look it up if you like.] 

Sets contain immutable objects, but they themselves can be changed. For a more complete list of methods see:  

http://www.python-course.eu/sets_frozensets.php


But here are a few:

In [20]:
# add
print (S1) # need print statement for all but last print
S1.add('chocolate')
S1

{42, 'ocelot', 'spam'}

{'chocolate', 42, 'ocelot', 'spam'}

In [21]:
# clear 
S2.clear() 
S2

set()

In [22]:
# copy
S2=S1.copy()
print (S2)
S1.clear()
print (S1)
print (S2)

{'chocolate', 42, 'ocelot', 'spam'}
set()
{'chocolate', 42, 'ocelot', 'spam'}

In [23]:
# difference
S1=set(['spam','ocelot',42])
S2=set(['spam','ocelot'])
S1.difference(S2)

{42}

In [24]:
# intersection
S1.intersection(S2)

{'ocelot', 'spam'}

Finally, you can define a set just using curly braces:

In [25]:
S3={42,'spamalot','Ni'}
S3

{'Ni', 'spamalot', 42}

'Ni' is another joke from Monty Python and the Holy Grail where there were some characters calling themselves the "Knights who say Ni!"

### Practice with sets

- Insert a code cell and create a set from the ocean list you created earlier.
- print out the set of oceans

### Assignment #1
- Create a jupyter notebook.  
- Rename the notebook (under File menu) with the format Lastname_HomeworkNumber.  For example, **Asefaw_1**
- Save the notebook (click on the disk icon in the menu bar)
- Create a markdown block in which you will describe what the notebook does. 
- Make a code block that creates a list called **planets**
    - append all the planets to the list.
    - make a copy of your planets list (with a different name). 
    - print the planet at index 2 in your **planet** list. 
    - set the planet at index 2 in your copy to 'X'
    - print the planet at index 2 in both lists (**planet** and your copy)
    - append the planet you overwrote to the end of the copied list.
    - use the help function to find out what the built in function **len()** does (help(len))
- Make another code block that creates a list using **range( )** with 8 values starting with 1. 
    - Create a **set** from each of the  three lists.  
    - Find the elements in common between the three sets.  

Your code must be fully commented.  

turn in your notebook on the tritoned.ucsd.edu website BEFORE the start of class next Friday. 

You will recieve a "zero" if the assignment is late,  copied from someone else, or not fully commented.  If the degree of copying is serious enough, you WILL be reported, so just don't do it.  

If you have trouble - contact the TA or the instructor - we are here to help!