In [1]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import Image
import pandas as pd

### Review of lecture 10

1) Learned about "object oriented programming" (OOP)

2) Learned how to create a "class"

3) Learned about more about namespaces 

4) Learned about deepcopies

#### In this lecture we will:

1) Learn about **lambda** functions

2) How to use **map( )**, **filter( )**, and  **reduce( )** 

2) Explore the joys of "List comprehension"

### Lambda functions

You can spell any greek letter and use it as a variable name EXCEPT for lambda.  Why?  Because **lambda** has a special meaning in python - it is a reserved word that is used for special, _anonymous functions_.

The syntax of a **lambda** function consists of  the word **lambda** followed by an argument list, a colon :, and then an expression.  Here is a simple example of an anonymous function that returns the product of the argument list:

In [2]:
f=lambda x,y : x*y

Let's dissect the statement. 

- **f** is a new kind of  variable that stores a function,

- **x** and **y** are the parameters that the anonymous function takes, 

- and the expression **x*y** is what is returned when the function is called. 

We're familiar with the following syntax:

In [3]:
def g(x, y):
    return x*y

Both **f** and **g** take the same parameters and return the same value. Let's try calling both functions with the parameters **x=2** and **y=10**:

In [4]:
print (f(2,10))
print (g(2,10))

20
20

Both the **lambda** function **f** and the 'regular' function **g** defined with the keyword **def** are of the type:  _function_

In [5]:
print (type(f))
print (type(g))

<class 'function'>
<class 'function'>

**lambda** functions should seem familiar. They follow the same syntax you use in math to define functions:

f(x) = x<sup>2</sup> +5x + 9 
 
which we could write as a **lambda** function like this:

In [6]:
f = lambda x: x**2+5.*x+9


For a multivariate function, you need to list all the values after the reserved word **lambda**. For example:

In [7]:
hypotenus = lambda x, y:  np.sqrt(x**2+y**2)

In [8]:
square = lambda x: x*x

print (square(2), square(9), square(10))

4 81 100


In math, you’d write the equivalent function as: 
 
hypotenuse(x, y) = $\sqrt{x^2+ y^2}$

### Practice with lambda functions
- create a lambda function called **square** that squares the input parameter

You may be wondering why **lambda** functions are useful. The answer is that **lambda** functions are anonymous- you don't have to assign them to a variable (although we did when we assigned the function to **f** in the above examples). This comes in handy if you write or use functions that take in other functions as parameters.  

Three such functions are **map( ) **, **reduce ( )**, and **filter ( )**.

### map( )

**lambda** is often used in conjunction with the **map( )** function.   

**map(func, seq)** is a function that takes two arguments: a function, **func**, and a sequence, **seq**. 
**func** may be an ordinary function or an anonymous function defined in the first argument of **map()**   
**seq** is one or more lists on which the function is performed.  **map()** returns a list with the results of whatever **func** did to the elements in  **seq**. 

Here is an example which converts kilometers to miles (1 mile = (5/8) kilometers).

In [10]:
map(lambda x:(5./8.)*x,[8,10,24]);

The anonymous function was defined as the first parameter of **map( )**. The **lambda** function takes a single variable **x**  (in miles), converts it to km by multiplying by 5/8, and then returns the value. The **map( )** function then takes a sequence as the second parameter, in this case a list with 8,10, and 24 as elements then converts each of the values in the list  to kilometers by applying the anonymous function.

If our **lambda** function takes two variables, **x,y** we must pass **map** two lists of the same length for **seq**:

In [12]:
map(lambda x,y : x*y,[2,3,4],[5,6,7]);

The values for **x** were taken from the first list of numbers, while **y** was taken from the second list. **map( )** returns a list with the product of the two input lists.

Another way to use **map( )** is to define the lists and functions ahead of time, then apply the **map( )** to them as follows:

In [13]:
a=[2,3,4]
b=[5,6,7]
f=lambda x,y : x*y
map(f,a,b);

Well that was fab....  

You can see that **x** snags values from the first list, **a** and **y** from the second list, **b**.

### Practice with map( )
- create a list of values from 0 to 90 in intervals of 3
- create a list of values from 0 to 300 in intervals of 10
- use **map( )** and an anonymous function to find the difference betwen two values using the two lists you created as the **seq** parameters

### filter( )

A **lambda** function can return a boolean- either True or False- rather than a value.  For example we can use a _modulo_ of 2 (x%2) to test whether a number is even or not. [Remember that _modulo_ is the remainder so when you divide x by 2 in this case, even numbers will be 0.]

In [14]:
print ('modulo of 2 into 2: ',2%2)
print ('modulo 400 into 360: ',400%360) # handy for keeping values between 0 and 360

modulo of 2 into 2:  0
modulo 400 into 360:  40

Now let's create an anonymous function that tests whether numbers are even or odd by the value they return.  As you just learned, if modulo returns 0 then the remainder is 0 and the original value is even, whereas, if it returns 1, then the original value is odd:

In [15]:
f= lambda x: x % 2

print (f(2))
print (f(3))
print (f(4))
print (f(5))

0
1
0
1

We can add the relational operator **==** and return True or False instead of 0 or 1:

In [16]:
f= lambda x: x % 2 == 0


print (f(2))
print (f(3))
print (f(4))
print (f(5))

True
False
True
False

We can use **filter( )** and the function we defined to find the even values in a list. **filter( )** takes two parameters - a function that evaluates to True or False and a list. Similar to **map( )**, **filter ( )** applies the function to every value in the list, but **filter ( )** will only return the values that evaluate to **True**. Note that in Python 3, you must turn the output of **filter( )** into a list.   For example:

In [26]:
mylist = list(range(50))
list(filter(f, mylist))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

### Practice with filter( )
- Copy the following dictionary into a code cell:
lastEruption = {"Mt.Etna": 2017, "Mt. St. Helens" :1980, "Mt. Erebus": 2017, "Mount Teide" : 1909, "Mt. Hood": 1800}

- Define an anonymous function **active** that returns a boolean. It should return true if a volcano has erupted in the last 5 years 
- use the function **filter( )**, the method **active**, and the dictionary of volcanoes to determine which volcanoes have erupted in the last 5 years

### reduce( )

**reduce( )** is another function that regularly uses a **lambda** function.  **reduce (func, seq)** takes two parameters: a function and a sequence. With **reduce( )**, the function is applied to sequential pairs of elements of the list until the list is reduced to a single value, which is then returned.  In detail, the function is first performed on the first two elements. The result then replaces the first element and the second is removed. The same  function is again applied to the first two elements of the new list, replacing them with the single value from the function, and so on until only a single value remains.  

Note that to use **reduce( )** in Python 3, we must first import it from **functools**. 

Let's try an example. We could use **reduce( )** to find the maximum value of a list.  First, let's define a **lambda** function which returns the larger of two values:

In [27]:
# this will return the largest value of two numbers
f=lambda x,y: x if (x>y) else y
print (f(42,27))

42

Now we can use the **f** function with **reduce( )** to find the largest value in the entire list:

In [30]:
from functools import reduce # have to do this in Python 3 - not in Python 2
a=[42,27,12,10] # defines a list with some numbers
reduce(f,a) # performs the function f sequentially on the list

42

### Practice with reduce( )
- write an anonymous function that finds the multiples of 7 (use **filter( )**  )
- write a different anonymous function that finds the greater of two number (use **reduce( )**) 
- use your two anonymous functions to find the greast multiple of 7 in this list:
[234, 55, 40, 100, 450, 335, 308, 693, 333, 405, 303, 109, 321, 565, 891]

### List comprehensions

Another succinct way to iterate over sequences and apply different operations, is through List, Dictionary, and Set comprehensions.

A List comprehension is a convenient way of applying an operation to a collection of objects.  It takes this basic form:

**[**expression **for** element **in** collection **if** condition**]**

Here is an example that takes a _list_ of strings, looks for those with lengths greater than 2 and returns the upper case version using the **string.upper( )** method for strings:

In [31]:
mylist=['Andes','Mt. Everest','Mauna Loa','SP Mountain']
[s.upper() for s in mylist if len(s)>5]

['MT. EVEREST', 'MAUNA LOA', 'SP MOUNTAIN']

[By the way, you can get the lower case equivalents with the method **string.lower( )**.]


Note that you could achieve the same result (the upper case list of all volcanoes with names having more than 4 characters) using our old friend the  **for** loop:

In [32]:
aList = []
for s in mylist:
    if(len(s)>5):
        aList.append(s.upper())
aList

['MT. EVEREST', 'MAUNA LOA', 'SP MOUNTAIN']

Or (challenge!)  by using **filter( )** and **map( )** and an anonymous function:

Each of these three approaches performs similarly, but the list comprehension is the most succinct.

### Practice with List comprehensions
- The following dictionary- atomicNumbers- has the atomic number of an element as the key and the element name as the value

atomicNumbers = {1:'H', 2:"He", 3: "Li", 4:"Be", 5:"B", 6:"C", 7: "N", 8:"O", 9:"F", 10:"Ne", 11:"Na", 12:"Mg", 13:"Al", 14:"Si", 15:"P", 16:"S", 17:"Cl", 18:"Ar"}

- The following list- lifeElements- contains the atomic numbers essential for life

lifeElements = [6,1, 8,7,15,16]
- use a list comprehension to print out the names of the elements that are essential for life.

### Dictionary Comprehension
Dictionary comprehensions are similar to list comprehensions, but they generate key-value pairs instead of lists. Dictionary comprehensions follow the format:
    
  **{**key**:**value **for** variable **in** collection **if** condition**}**


The following Dictionary comprehension generates a dictionary with a word from mylist as the key and the length of the word as the value

In [33]:
mylist=['Andes','Mt. Everest','Mauna Loa','SP Mountain'] # to remind you what mylist was
{s:len(s) for s in mylist} # list comprehension with mylist

{'Andes': 5, 'Mauna Loa': 9, 'Mt. Everest': 11, 'SP Mountain': 11}

Notice the {key:value, key:value} structure of the output - that is a dictionary.  


### Practice with Dictionary comprehensions
- The following list - elements- is a list of the first 18 elements in the periodic table

elements = ["H", "He", "Li", "Be", "B","C","N","O","F","N","Na","Mg","Al","Si","P","S","Cl","Ar"]
- Create a dictionary comprehension of the elements and their atomic number. The key is the element name while the value is the atomic number

### Set comprehension

A Set comprehension, returns a set and follows this format:

   **{**expression **for** value **in** collection **if** condition**}**



The following Set comprehension creates a set composed of the lengths of the words in mylist

In [34]:
{len(s) for s in mylist}

{5, 9, 11}

You can tell that a set was returned because it is in curly braces with no keys.

### Complicated comprehensions
List, Dictionary, and Set comprehensions can also replace complicated, nested loops. Here's an example that generates a list of x,y,z triplets if the values obey Pythagorus' rules for right triangles.  Chew on it, until you get it:

In [35]:
[(x,y,z) for x in range(1,30) \
    for y in range(x,30) for z in range(y,30) \
    if x**2 + y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]